$min-height: 420px;
$block-margin: 50px 0;
$max-width: 1300px;

.home {

    .slideshow-container {
        .content-wrap {
            max-width: $max-width;
            margin: 0 auto;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            top: 10%;
            position: absolute;
            max-width: 650px;
            padding: 1em;

            h1,
            p,
            a {
                color: white;
            }

        }
    }

    .site-content {
        padding: 0;
    }

    #slide-first-element {
        display: block;
        width: 100%;
        height: auto;
    }

    #slide-element-2,
    #slide-element-3 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .slide-image {
        width: 100%;
        border-radius: 20px;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
    }

    #slide-first-element {
        animation: fade-1 13s infinite;
        -webkit-animation: fade-1 13s infinite;
    }

    #slide-element-2 {
        animation: fade-2 13s infinite;
        -webkit-animation: fade-2 13s infinite;
    }

    #slide-element-3 {
        animation: fade-3 13s infinite;
        -webkit-animation: fade-3 13s infinite;
    }

    @keyframes fade-1 {
        0% {
            opacity: 1;
        }

        33% {
            opacity: 0;
        }

        66% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-2 {
        0% {
            opacity: 0;
        }

        33% {
            opacity: 1;
        }

        66% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes fade-3 {
        0% {
            opacity: 0;
        }

        33% {
            opacity: 0;
        }

        66% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }




    .homepage-programs-wrap {
        max-width: $max-width;
        margin: 50px auto;
        padding: 0 1em;

        .homepage-programs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .image-wrap {
                height: 270px;
                width: auto;
                background-repeat: no-repeat;
                border: 10px solid $blue;
                transition: all .5s;

                .image {
                    background-size: cover;
                    min-height: 1px;
                    height: 100%;
                    width: 100%;
                    transition: all .5s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.11);
                    }
                }

            }

            .program-1 {
                .image-wrap {
                    .image {
                        background-image: url(https://placebear.com/270/270);
                    }
                }
            }

            .program-2 {
                .image-wrap {
                    .image {
                        background-image: url(https://www.placecage.com/270/270);
                    }
                }
            }

            .program-3 {
                .image-wrap {
                    .image {
                        background-image: url(https://picsum.photos/270/270);
                    }
                }
            }

            .program-4 {
                .image-wrap {
                    .image {
                        background-image: url(https://baconmockup.com/270/270);
                    }
                }
            }

            .program-wrap {
                width: 97%;
                display: grid;
                grid-template-rows: 270px 1fr 2fr 1fr;
            }

            .program-heading {
                font-size: 24px;
                font-weight: 700;
                margin: 15px 0;
            }

            .program-wrap {
                p:not(.program-heading) {
                    font-size: 16px;
                    line-height: 26px;
                }

                .read-more {
                    margin-top: 10px;
                    transition: all .5s;
                }

                .button.primary {
                    margin-top: 10px;
                }

            }

        }
    }


}


.home-testimonials-wrap {
    min-height: $min-height;
    background-color: $blue;
    margin: $block-margin;



    .home-testimonials {
        max-width: $max-width;
        min-height: $min-height;
        margin: 0 auto;
        background: $blue url('/wp-content/themes/ccc/images/kid-red.png');
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: 98% center;
        padding: 2em 0;
        color: white;
        text-align: center;
        position: relative;

        .bx-wrapper {
            box-shadow: 0 0 0 #ccc;
            border: 0px solid #fff;
            background: transparent;

        }

        .bx-wrapper {
            max-width: 65% !important;
            margin: 0 auto;

            .bx-viewport {
                padding-bottom: 1em;
            }

            .bx-pager {
                padding-bottom: 20px;
            }
        }

        .paginator-center {
            top: 50%;
        }

        .slider {
            max-width: 94%;
            margin: 0 auto;
        }
    }
}


.home-blog-posts {
    min-height: $min-height;
    max-width: $max-width;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-blog-posts-wrap h2 {
    color: $blue;
    text-align: center;
}

.blog-post {
    width: 24%;
    margin: 0 6px;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}


.home-blog-posts-wrap {
    .home-blog-posts {
        position: relative;
        transition: all .5s;

        #home-blog {
            // max-width: 1250px;
            // margin: 0 auto;
            transition: all .5s;
        }

        ul.post {
            padding: 0 5px;
            position: relative;
            transition: all .5s;
            margin-bottom: 0;

            .content-wrap {
                position: absolute;
                bottom: 25px;
                width: 97%;
                transition: all .5s;
                padding: 12px;
                text-align: center;

                &:hover {
                    cursor: pointer;
                }

                .post-title {
                    // width: 100%;
                    // text-align: center;
                    width: 90%;
                    text-align: center;
                    margin: 0 auto;
                    transition: all .5s;

                    a {
                        transition: all .5s;
                        // width: 100%;3
                        color: white;
                        font-size: 24px;
                        font-weight: 700;
                        // text-align: center;
                        line-height: 1;
                        text-shadow: 1px 1px 2px #000000;
                    }
                }

                .excerpt,
                .read-more {
                    display: none;
                    transition: all .5s;
                }

                .excerpt {
                    color: #000;
                    font-size: 16px;
                }

            }

            &.active {
                transition: all .5s;

                .excerpt,
                .read-more {
                    display: block;
                    transition: all .5s;
                }

                .content-wrap {
                    background-color: rgba(255, 255, 255, .7);
                    transition: all .5s;
                }
            }

            // &:last-of-type {
            //     padding-right: 0;
            // }

            // &:first-of-type {
            //     padding-left: 0;
            // }

        }

        .home-blog {
            position: relative;
        }

        li.image-wrap {
            border: 10px solid #2a509b;
            transition: all .5s;

            &:hover {
                cursor: pointer;
                transition: all .5s;
            }

            img {
                transition: all .5s;
                margin: 0;
                width: 100%;
            }

            // &.active {

            // }
        }




        // .paginator-center {
        //     width: 100%;
        //     position: absolute;

        //     .prev,
        //     .next {
        //         border-style: solid;
        //         border-width: 0.25em 0.25em 0 0;
        //         content: '';
        //         display: inline-block;
        //         height: 1em;
        //         // left: 0.15em;
        //         position: absolute;
        //         top: 48%;
        //         transform: rotate(-45deg);
        //         vertical-align: top;
        //         width: 1em;
        //     }

        //     &:hover {

        //         .next,
        //         .prev {
        //             cursor: pointer;
        //         }
        //     }

        //     .next {
        //         right: -25px;
        //         transform: rotate(45deg);
        //     }

        //     .prev {
        //         left: -25px;
        //         transform: rotate(-135deg);
        //     }
        // }


        #home-blog {
            display: grid;


            ul.post {
                li {
                    list-style-type: none;
                }
            }





            // position:relative;


            // span.prev,
            // span.next {
            //     border-style: solid;
            //     border-width: 0.25em 0.25em 0 0;
            //     content: '';
            //     display: inline-block;
            //     height: 1em;
            //     // left: 0.15em;
            //     position: absolute;
            //     top: 48%;
            //     transform: rotate(-45deg);
            //     vertical-align: top;
            //     width: 1em;
            // }

            // &:hover {
            //     span.next, span.prev {
            //         cursor: pointer;
            //     }
            // }

            // span.next {
            //     right: -25px;
            //     transform: rotate(45deg);
            // }

            // span.prev {
            //     left: -25px;
            //     transform: rotate(-135deg);
            // }



        }

    }
}


.paginator-center {
    position: absolute;
    width: 98%;
    margin-left: 1%;
    float: right;
    margin-bottom: 20px;
    top: 25%;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    li {
        margin-top: 20px;
        position: relative;
        float: left;
        margin: 0;


        &.prev {
            z-index: 9999;
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            border-color: #2a509b;
            content: '';
            display: inline-block;
            height: 1em;
            position: absolute;
            top: 48%;
            left: -30px;
            transform: rotate(-135deg);
            vertical-align: top;
            width: 1em;
            transition: all .5s;

            &:hover {
                height: 1.25em;
                width: 1.25em;
                cursor: pointer;
                border-color: black;
            }
        }

        &.prev1 {
            z-index: 9999;
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            border-color: white;
            content: '';
            display: inline-block;
            height: 1em;
            position: absolute;
            top: 48%;
            left: -30px;
            transform: rotate(-135deg);
            vertical-align: top;
            width: 1em;
            transition: all .5s;

            &:hover {
                height: 1.25em;
                width: 1.25em;
                cursor: pointer;
                border-color: black;
            }
        }

        &.next {
            z-index: 9999;
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            border-color: #2a509b;
            content: '';
            display: inline-block;
            height: 1em;
            position: absolute;
            top: 48%;
            right: -30px;
            transform: rotate(45deg);
            vertical-align: top;
            width: 1em;
            transition: all .5s;

            &:hover {
                height: 1.25em;
                width: 1.25em;
                cursor: pointer;
                border-color: black;
            }
        }

        &.next1 {
            z-index: 9999;
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            border-color: white;
            content: '';
            display: inline-block;
            height: 1em;
            position: absolute;
            top: 48%;
            right: -30px;
            transform: rotate(45deg);
            vertical-align: top;
            width: 1em;
            transition: all .5s;

            &:hover {
                height: 1.25em;
                width: 1.25em;
                cursor: pointer;
                border-color: black;
            }
        }
    }
}


.ready-to-enroll-wrap {
    background-color: #bf1a2f;
    text-align: center;

    .ready-to-enroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;

        max-width: 1300px;
        min-height: 420px;
        margin: 0 auto;
        background: #bf1a2f url(/wp-content/themes/ccc/images/kid-yellow.png);
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: 10% center;


    }

    h2,
    p,
    a {
        color: white;
    }

    h2 {
        margin-top: 0;
    }

    .button {
        width: fit-content;
        transition: all .4s;

        &:hover {
            color: #bf1a2f;
            border-color: #bf1a2f;
            background-color: white;
        }
    }

}



.quickcontact-wrap {
    .quickcontact {
        max-width: $max-width;
        margin: 0 auto;
        text-align: center;

        h2 {
            color: $blue;
        }

        
    }
}